/* Global */
:root{
    --blanco: #fff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisClaro: #dfe9f3
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}
*, *:before, *:after {
    box-sizing: inherit;
  }
body{
    font-size: 16px;
    font-family: "Krub", sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
}

.contenedor{
    max-width: 1200px;
    margin: 0 auto;
}
.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0.5rem;
    width: 90%;
    margin-top: 1rem;
    text-align: center;
    border: none;
}

@media (min-width: 768px) { 
    .boton{
        width: auto;
    } 
}
.sombra{
    -webkit-box-shadow: 0px 6px 17px 2px rgba(94,94,94,0.67);
    -moz-box-shadow: 0px 6px 17px 2px rgba(94,94,94,0.67);
    box-shadow: 0px 6px 17px 2px rgba(94,94,94,0.67);
    padding: 2rem;
    background-color: var(--blanco);
    box-shadow: 1rem;
}
/* Snap-Scroll */
.servicios, .navegacion-principal, .formulario{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
/* Tipografia */
h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1, h2, h3{
    text-align: center;
}
/* titulos */
.titulo span{
    font-size: 2rem;
}
/* Utilitys */
.w-sm-100{
    width: 100%;
}
@media (min-width: 480px) { 
     .w-sm-100{width: auto;}
}
.flex{
    display: flex;
}
.alinear-derecha{
    justify-content: end;
}
.center{
    justify-content: center;
}

/* Navegacion principal */
.nav-bg{
    background-color: var(--secundario);
}

.navegacion-principal{
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) { 
     .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
     }
}
.navegacion-principal a{
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-weight: 700;
    color: var(--blanco);
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}
/* Hero */
.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}
.hero-contenido{
    background-color: rgba(0, 0, 0, .7);
    background-color: rgb(0 0 0 /70%);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-contenido h2, .hero-contenido p{
    color: var(--blanco);
}

.hero-contenido .ubicacion{
    display: flex;
    align-items: end;
}

/* Servicios */
@media (min-width: 768px) { 
    .servicios{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-columns: repeat(3, 1fr);
        grid-template-columns: 33.3 33.3 33.3; /* es lo mismo, hay tambien para row*/
        column-gap: 5rem;
    } 
}
.servicio{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.servicio h3{
    color: var(--secundario);
    font-weight: 400;
}
.servicio p{
    line-height: 2;
    text-align: center;
}
.servicio .iconos{
    background-color: var(--primario);
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Contacto */
.formulario{
    background-color: var(--gris);
    padding: 2rem;
    width: min(60rem, 100%);
    margin: 0 auto;
    border-radius: 1rem;
}
.formulario legend{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 1.8rem;
}
.formulario fieldset{
    border: none;
}
.contenedor-campos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 2rem;
}
.campo:nth-child(3), .campo:nth-child(4){
    grid-column: 1 /3;
}
.campo{
    width: 100%;
}
.campo label{
    margin: .5rem;
    display: block;
    font-weight: bold;
    color: var(--blanco);
}
.input-text{
    width: 100%;
    border-radius: 0.2rem;
    border: none;
    padding: 1rem;
}
.campo textarea{
    height: 14rem;
}
.footer{
    text-align: center;
}